body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol {
  padding-left: 20px;
}

li {
  margin-bottom: 5px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.square.highlighted {
  background-color: #32788a;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.game-control {
  height: 40px;
  position: relative;
}

.selected {
  border: 2px solid #32788a;
}

.button {
  margin: 2px;
}

.button.centered {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.title {
  margin-bottom: 30px;
}
